*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: rgb(57, 85, 66);
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #92AA83;
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sound-button{
    border: none;
    color: #d8fdc6;
    background-color: #92AA83;
    padding: 15px 30px;
}

.sound-button:hover{
    cursor: pointer;
    background-color: #627258;
}

.sound-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.sound{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

